@import "src/assets/variables";

$announcement-font: 'Merriweather', serif;
$announcement-button-font: 'Merriweather Sans', sans-serif;
$announcement-secondary-color: #eae9e3;
$announcement-primary-color: #41606d;

.section-announcement {
  font-family: $announcement-font;
  text-align: center;

  h2 {
    font-family: $announcement-font;
    text-transform: capitalize;
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  button {
    font-family: $announcement-button-font;
    font-weight: bold;
    padding: .7rem 1rem;
    background: $announcement-primary-color;
    color: white;
    font-size: 14px;
  }

  @media (min-width: $large-size) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: grey;
  }

  .left {
    background: white;
    color: $announcement-primary-color;

    h2 {
      color: $announcement-primary-color;
    }
  }

  .right {
    background: $announcement-primary-color;
    color: white;
  }

  .left, .right {
    padding: 1rem;

  }

  @media(min-width: $large-size) {
    .left, .right {
      max-width: 30rem;
      height: 10rem;
    }
  }
}

