@import "src/assets/variables";

.div-video {
  position: relative;

  .volume {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    cursor: pointer;
    color: white;
  }

  .play-pause {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    color: white;
  }

  .volume:hover, .play-pause:hover {
    opacity: .6;
  }

  .muncher-spinner {
    position: absolute;
    left: 45%;
    top: 45%;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


}

