:root {
    --feature-section-background-color: var(--secondary-background-color);
}

.section-feature {
  font-family: var(--main-font);
  background: var(--feature-section-background-color);
  padding: 1.5rem;

  .heading {
    i, .emphasized {
      background: var(--feature-section-background-color);
      padding: 0 1rem;
    }
  }

  .section-feature--detail {
    padding: 0;
  }
}

@media (min-width: 62rem) {
  .section-feature {
    .section-feature--detail {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
