@import "src/assets/variables";

.div-gallery {
  padding: 0;
  display: block;
  position: relative;

  .gallery--grid {
    line-height: 0;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-count: 2;
    //@media (min-width: $medium-size) {
    //  -webkit-column-count: 3;
    //  column-count: 3;
    //  -moz-column-count: 3;
    //}
    @media (min-width: $large-size) {
      -webkit-column-count: 4;
      column-count: 4;
      -moz-column-count: 4;
    }
    @media (min-width: $extra-large-size) {
      -webkit-column-count: 5;
      column-count: 5;
      -moz-column-count: 5;
    }

    img {
      width: 100%;
      height: auto;
      max-height: 25rem;
      max-width: 25rem;
      object-fit: cover;
    }
  }

  .gallery {
    figure {
      margin: 0;
      text-align: center;
      @media (min-width: $medium-size) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .gallery--image {
        padding-bottom: 1rem;
        padding-top: 1rem;
        cursor: pointer;
        width: 92vw;
        margin: 4vw;
        object-fit: cover;
        object-position: top;
        @media (min-width: $medium-size) {
          max-width: 20rem;
          max-height: 13rem;
          width: 30vw;
          margin: 1rem;
        }
      }
    }
  }

  .muncher-modal {
    color: $primary-background-color;
    text-align: center;
    top: 3vh;
    @media(min-width: $medium-size) {

    }

    .image-slider {
      img {
        width: 80vw;
        height: 80vh;
        object-fit: contain;
      }

      .close {
        top: .1rem;
        right: .2rem;
        position: fixed;
        padding: .4rem;
        cursor: pointer;
      }

      .close:hover {
        opacity: .6;
      }

      .muncher-spinner {
        position: fixed;
        left: 45%;
        top: 45%;
      }

      .left, .right {
        position: fixed;
        top: 40%;
        cursor: pointer;
      }

      @media(min-width: $medium-size) {
        .left:hover, .right:hover {
          opacity: .6;
        }

      }

      .left {
        left: 1vw;
      }

      .right {
        right: 1vw;
      }
    }
  }

  .react-loading-skeleton {
    border-top: white .5rem solid;
    border-bottom: white .5rem solid;
  }

}