@import "src/assets/variables";

.grid-gallery {
  padding: 0;
  display: block;
  position: relative;
  width: 100%;

  .gallery-hero-two-columns {
    display: flex;

    .gallery-hero-column-one, .gallery-hero-column-two {
      width: 50vw;
    }

    .gallery-hero--image {
      cursor: pointer;
      object-fit: cover;
      object-position: center;

    }

    .cover-image {
      cursor: default;
    }

    .gallery-hero-one {
      .gallery-hero--image {
        width: 100vw;
        object-fit: cover;
        object-position: center;
        height: 40vw;
      }
    }

    .gallery-hero-column {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;

      .gallery-hero--image-fixed {
        width: 25vw;
        height: 20vw;
      }

      .gallery-hero--image {
        width: 25%;
        height: 20vw;
      }

      .gallery-hero-mobile--image {
        cursor: pointer;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 40vh;
      }
    }

    .gallery-hero-column-one {

      .gallery-hero--image {
        width: 100%;
        height: 40vw;
      }
    }


    .gallery-hero-column-two {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;

      .gallery-hero--image {
        width: 50%;
        height: 20vw;
      }

      .section-map {
        width: 50%;
        height: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;

        iframe {
          display: block;
          width: 100%;
          height: 20vw;
        }
      }
    }
  }


  .badge--info {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .muncher-badge {
      margin-right: .5rem;
    }
  }

  .gallery--information {
    text-align: center;
    color: $primary-background-color;
    background-color: $special-offer-color;
    padding: 0 1rem;
    position: absolute;
    top: 5rem;
    width: 50vw;
    left: 0;
    font-size: .8rem;
    @media (min-width: $large-size) {
      font-size: 1.1rem;
      width: 16rem;
    }
  }
}
