@import "src/assets/variables";

.image-card {
  color: $primary-background-color;
  position: relative;
  margin: 0;
  text-align: center;
  cursor: pointer;
  .image-card--footer {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    p{
      font-size: .8rem;
    }
  }
}
.image-card:hover {
  .image-card--footer {
    transition: all 0.5s ease 0.5s;
    visibility: visible;
  }
}