@import "src/assets/variables";
@import "../../assets/form";

$application-section-background-color: $primary-background-color !default;
$banner-background-color: $secondary-background-color !default;
$banner-color: #D73647 !default;

.section-application {
  padding-top: 2em;
  text-align: center;
  background: $application-section-background-color;

  .application-heading {

    .banner {
      background: $banner-background-color;
      padding: .5rem 1rem 1.5rem 1rem;
      color: $banner-color;

      .emphasized {
        font-weight: bold;
        text-decoration: underline;
        font-style: italic;
      }
    }


    text-align: center;


  }

  .step-banner {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .muncher-step .muncher-step--label {
    font-family: $sans-serif-font;
  }

  .info, .emphasized-info {
    padding: 1rem;
  }

  .emphasized-info {
    text-transform: uppercase;
    font-family: $sans-serif-font;
    font-size: 1.2rem;
  }

  @media (min-width: $medium-size) {
    .muncher-step--container {
      margin: 2rem 10rem;
    }
  }
}

