@import "src/assets/variables";

$info-header-background-color: $tertiary-background-color !default;
$info-header-color: $primary-background-color !default;
.header-info {
  text-align: center;
  background: $info-header-background-color;
  padding: .05rem;
  font-size: 80%;
  color: $info-header-color;
  .container {
    :first-child {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

  }

  a {
    color: $info-header-color;
  }

  @media (min-width: $medium-size) {
    text-align: right;
    padding-right: 2rem;
  }
}