@import "src/assets/variables";

.special-offer-button {
  .muncher-button {
    border-radius: .5rem;
    background-color: $special-offer-color;
    text-transform: none;
    font-family: $serif-font;
    font-weight: normal;
    font-size: .8rem;
    padding: .3rem .5rem;
    .star-icon {
      width: 1.6rem;
    }
  }
}
