@import "src/assets/variables";

.section-pricing {
  font-size: 80%;

  .row {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(7, 14.28%);
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column;
    margin: .5rem;

    .col {
      border: 1px solid #a7bdb1;
      height: 3rem;
      padding: .5rem;

    }

    .head {
      background: #a7bdb1;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-family: $heading-font;

    }
  }

  @media (min-width: $medium-size) {
    font-size: 90%;
    .row {
      grid-template-columns:  12% repeat(2, 8%) repeat(4, 18%);
      grid-template-rows: repeat(4, 20%);
      //grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-auto-flow: row;


      .col {
        height: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        &:nth-child(n) {
          border-top: none;
        }

        &:nth-child(n+7) {
          border-right: none;
        }

        &:nth-child(7n) {
          border-right: 1px solid #a7bdb1;
        }
      }
    }
  }
}
