@import "src/assets/variables";

$search-unit-header-background-color: $secondary-nav-background-color !default;
$search-unit-header-dropdown-background-color: $primary-background-color !default;
.units-header {
  background-color: $search-unit-header-background-color;
  padding: 1rem;

  .pills {
    padding: 1rem;
    font-size: .8rem;
  }
  .filter-result {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .units-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .filter-group {
      display: flex;
      justify-content: center;
      align-items: center;

      .filter-label {
        text-align: right;
        min-width: 5rem;
      }
    }

    .filters {
      display: flex;
      justify-content: left;
      align-items: center;
      flex-wrap: wrap;

    }

    .sort-filters {
      .muncher-button {
        display: flex;
        text-transform: none;
        padding: .3rem;
        min-width: 8rem;
        justify-content: left;

      }
      .muncher-button:hover{
        background-color: $tertiary-background-color;
      }
    }
    .muncher-dropdown--content{
      background-color: $search-unit-header-dropdown-background-color;
    }
    .price-dropdown {
      width: 10rem;
      @media (min-width: $large-size) {
        width: auto;
      }
      .price-dropdown-content{
        width: 15rem;
      }
    }
  }
}
