@import 'src/assets/variables';

.faqs-section {

  .muncher-accordion {
    .fold-button {
      span {
        text-align: left;
        font-size: 1rem;
        text-transform: none;
        color: $primary-color;
      }
    }
  }
}

