@import "src/assets/variables";

$team-image-info-font: $sans-serif-font !default;
$team-image-info-color: white !default;
.team-card {
  margin: 3vw;
  text-align: center;

  .div-team-image {
    position: relative;

    .team-image {
      height: 15rem;
      width: 15rem;
      object-fit: cover;
      object-position: 0 0;
      border-radius: 50%;
      cursor: pointer;
    }

    .team-image-info {
      top: 0;
      left: 0;
      visibility: hidden;
      position: absolute;
      height: 15rem;
      width: 15rem;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, .4);
      display: flex;
      justify-content: center;
      align-items: center;

      .team-image-info-content {
        position: absolute;
        top: 6rem;
        font-size: .8rem;

        a {
          color: $team-image-info-color;
          font-family: $team-image-info-font;
        }
      }

    }
  }

  .div-team-image:hover, .div-team-image:active {
    .team-image-info {
      transition: all 0.5s ease 0.5s;
      visibility: visible;
    }
  }

}

