@import "src/assets/variables";
@import "../../assets/form";

$contact-section-background-color: $primary-background-color !default;
.section-contact {
  padding-top: 2em;
  text-align: center;
  background: $contact-section-background-color;

  .additional-info {
    cursor: pointer;
    font-size: .9rem;
  }

  .additional-info:hover {
    opacity: .6;
  }

  .muncher-slider {
    margin-top: 0;
    height: 2rem;
  }

  .multi-select {
    label{
      font-size: .9rem;
    }
    select {
      height: 100%;
    }
  }
}

