@import "./Contact";
.section-contact {
  .heading {
    .react-loading-skeleton {
      width: 60vw;
    }
  }
  .information{
    .react-loading-skeleton {
      width: 70vw;
    }
  }
  .form-element {
    .react-loading-skeleton {
      height: 2rem;
    }
  }
  .text-area {
    .react-loading-skeleton {
      height: 8rem;
    }
  }
}
