@import "src/assets/variables";

form {
  .form-element {
    margin: .5rem 2rem;
    padding: 0 .5rem;
    text-align: left;

    p {
      font-size: .8rem;
    }

    .message {
      text-align: center;
    }
  }

  .checkboxes {
    display: inline-flex;
    flex-wrap: wrap;

    > div {
      padding: 0 .5rem;
    }
  }

  .captcha + p {
    display: inline;
    margin: .5rem 2rem;
  }

  .captcha {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  .form-submit {
    display: inline-flex;
    align-items: center;

    .muncher-spinner {
      width: 1rem;
      height: 1rem;
      border-width: .2rem;
      margin-left: 1rem;
    }
  }

  @media (min-width: $medium-size) {
    column-count: 2;
    text-align: left;
    .form-element {
      break-inside: avoid-column;
      max-width: 28rem;
      width: 35vw;

      .message {
        text-align: left;
      }
    }
  }
  @media (min-width: $large-size) {
    .form-element {
      max-width: 30rem;
      width: 35vw;
    }
  }

  ::-webkit-input-placeholder { /* Edge */
    font-size: .8rem;
  }

  :-ms-input-placeholder { /* Internet Explorer */
    font-size: .8rem;
  }

  ::placeholder {
    font-size: .8rem;
  }

  .hp-form-item {
    position: absolute;
    left: -9999px; /* moves it off-screen */
    height: 0;
    width: 0;
    overflow: hidden;
  }
}

