@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Merriweather+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Roboto&display=swap');

@import '@contentmunch/contentmunch-ui/index.css';
@import 'react-loading-skeleton/dist/skeleton.css';
@import './assets/variables.css';

@import './announcement/assets/Banner.css';
@import './application/assets/ApplicationCompletion.css';
@import './application/assets/ApplicationModal.css';
@import './application/assets/ApplicationSection.css';
@import './asset/assets/AssetModal.css';
@import './asset/assets/VideoModal.css';
@import './banner/assets/SubmissionRequestBanner.css';
@import './card/assets/Card.css';
@import './contact/assets/ContactModal.css';
@import './contact/assets/ContactSection.css';
@import './contact/assets/ContactSkeleton.css';
@import './faq/assets/FaqsCard.css';
@import './faq/assets/FaqsSection.css';
@import './faq/assets/PropertyFaqSection.css';
@import './faq/assets/ResidentFaqSection.css';
@import './feature/assets/FeatureSection.css';
@import './floorplan/card/assets/FloorplanCard.css';
@import './floorplan/card/assets/FloorplanCardSlider.css';
@import './floorplan/card/assets/FloorplanFaqsCard.css';
@import './floorplan/card/assets/FloorplanPrice.css';
@import './floorplan/card/assets/SimilarFloorplanCard.css';
@import './floorplan/card/assets/TestimonialsCard.css';
@import './floorplan/filter/assets/FloorplanDropDown.css';
@import './floorplan/section/assets/BadgeStats.css';
@import './floorplan/section/assets/FloorplanHero.css';
@import './floorplan/section/assets/FloorplanSection.css';
@import './floorplan/section/assets/FloorplansHeader.css';
@import './floorplan/section/assets/FloorplansSection.css';
@import './floorplan/section/assets/HeroBadgeStats.css';
@import './footer/assets/Footer.css';
@import './gallery/assets/DriveGallery.css';
@import './gallery/assets/Gallery.css';
@import './gallery/assets/GalleryModal.css';
@import './gallery/assets/GridGallery.css';
@import './gallery/assets/GridGalleryMobile.css';
@import './gallery/assets/HeroImageCard.css';
@import './gallery/assets/ImageCard.css';
@import './header/assets/InfoHeader.css';
@import './home-page-special/assets/HomePageSpecialCard.css';
@import './home-page-special/assets/HomePageSpecialModal.css';
@import './home-page-special/assets/HomePageSpecialSection.css';
@import './map/assets/Map.css';
@import './property/assets/PropertyLocation.css';
@import './property/assets/PropertyLocationSkeleton.css';
@import './review/assets/ReviewSection.css';
@import './short-term/assets/Hostaway.css';
@import './short-term/assets/ShortTermFloorplanCard.css';
@import './short-term/assets/ShortTermFloorplanHero.css';
@import './short-term/assets/ShortTermFloorplanSection.css';
@import './short-term/assets/ShortTermFloorplansHeader.css';
@import './short-term/assets/ShortTermFloorplansSection.css';
@import './short-term/assets/ShortTermPricingCard.css';
@import './special-offer/assets/SpecialOfferBadge.css';
@import './special-offer/assets/SpecialOfferButton.css';
@import './sublet/assets/SubletCard.css';
@import './sublet/assets/SubletImage.css';
@import './sublet/assets/SubletMessageModal.css';
@import './sublet/assets/SubletNotFound.css';
@import './sublet/assets/SubletSection.css';
@import './sublet/assets/SubletsSection.css';
@import './summer-house/assets/SummerHouseFeatures.css';
@import './summer-house/assets/SummerHousePricing.css';
@import './team/assets/Team.css';
@import './team/card/assets/TeamCard.css';
@import './unit/card/assets/UnitCard.css';
@import './unit/section/assets/UnitSection.css';
@import './unit/section/assets/UnitsHeader.css';
@import './unit/section/assets/UnitsSection.css';
@import './video/assets/Video.css';

html {
  font-size: 100%;
  font-family: var(--main-font);
  background: var(--body-color);
}

section {
  padding: 1rem 0;
}

main {
  min-height: 60vh;
}

main .div-full--center {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 48rem) {
  main ul {
    column-count: 2;
  }

  main .heading {
    text-align: center;
    border-bottom: .5px solid var(--section-heading-color);
    line-height: 0.1rem;
    margin: 2rem;
  }

  main .heading .emphasized {
    background: var(--primary-background-color);
    text-transform: none;
    padding: 0 1rem;
    color: var(--section-heading-color);
  }
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  opacity: .6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  text-transform: uppercase;
  letter-spacing: .05rem;
  text-align: center;
}

button {
  text-transform: uppercase;
}

ul {
  column-count: 1;
  padding: 1rem 2rem;
}

ul li {
  padding-bottom: .5rem;
}

i {
  font-family: var(--italic-font);
  text-transform: none;
}

.small {
  font-size: .5rem;
}

.information {
  padding: 0 .5rem;
}

.reference {
  margin-top: -5rem;
  height: 5rem;
}
