@import "src/assets/variables";

.unit-dropdown{
  margin: .3rem;

  .muncher-dropdown{
    .muncher-button{
      padding: 0;
      h5 {
        margin: .7rem .9rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
